<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Materias</h1>
  <p>Registra tus materias y grupos</p>
  <p><a class="btn btn-primary btn-lg" href="/CrearMateria" role="button">Registrar materia</a></p>
</div>
